
#history {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: 1px solid #550606;
    border-radius: 10px;
    width: 100%;
}

.history-line {
    border: 1px solid #550606;
    width: 700px;
    margin: 0 auto;
}